/* Permutation lists */

.permutation {
  position: relative;
  margin-left: 1%;
}
.permutation-column2 {
  position: absolute;
}
.permutation-column {
  /* Removing draggable columns
  position: absolute;*/
  left: 0;
  right: 0;
  margin: 0 1.5%;
  background: #e0e0e0;
  border-radius: 3px;
  z-index: 1;
}
.permutation-column.muuri-item-releasing {
  z-index: 2;
}
.permutation-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.permutation-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: left;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .permutation-column-header {
    text-indent: -1000px;
  }
}
/* Header colours */
.permutation-column.answer .permutation-column-header {
  background: #659F4A;
}
.permutation-column.candidates .permutation-column-header {
  background: #f9944a;
}
/* End of Header colours */
.permutation-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}
.permutation-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.permutation-item.muuri-item-releasing {
  z-index: 9998;
}
.permutation-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.permutation-item.muuri-item-hidden {
  z-index: 0;
}

.permutation-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .permutation-item-content {
    text-align: center;
  }
  .permutation-item-content span {
    display: none;
  }
}